.collapse {
    transition: all 1s;
}

.search-group {

    .category-selector {
        font-size: 0.6em;
        background-color: #E6E6E6;
    }

    .form-control {
        min-width: 40vw;
    }
    .search-button {
        font-size: 0.9em;
        background-color: #FEBD69;
    }
}

.shopping-cart {
    align-self: center;
    color: white;
    cursor: pointer;

    i {
        font-size: 1.5em;
    }

    span {
        padding-left: 4px;
        font-weight: bold;
        font-size: 0.8em;
    }
}

.my-account {
    color: white;
    background-color: transparent;
    border: none;

    .hello {
        font-size: 80%;
        text-align: start;
    }
}

.account-item {
    &:active {
        background-color: #FEBD69;
        color: black;
    }
}

.login {
    min-width: 240px;

    button, label, input {
        font-size: 90%;
    }
}